# Ignore dirs
.python-environments/
auto-save-list/
auto-saves/
anaconda-mode/
backups/
elpa/
irony/
semanticdb/
url/

# Ignore files
*org-clock-save.el
projectile-bookmarks.eld
projectile.cache
flycheck_init.el
session.*
bookmarks
recentf
.#recentf
network-security.data
*.swp
tramp

# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
